In [1]:
import pandas as pd
data = [10,11,12,20,22,30,40,50]
x = pd.Series(data)
print(x)

0    10
1    11
2    12
3    20
4    22
5    30
6    40
7    50
dtype: int64

In [133]:
import pandas as pd 
data ={
    'Name' :['Ajay','Arun'],
    'Age' :[23,33],
    'City' :['Ahmedabad','Alahabad']
}
x = pd.DataFrame(data)
print(x)

   Name  Age       City
0  Ajay   23  Ahmedabad
1  Arun   33   Alahabad

In [23]:
import pandas as pd
df = pd.read_csv("transactions.csv")
df.rename(columns={"Quantity":"Qty","TransactionID":"T_ID","TransactionDate":"T_date"},inplace=True)
print(df)

   T_ID      T_date  UserID  ProductID  Qty
0     1  2010-08-21     7.0          2    1
1     2  2011-05-26     3.0          4    1
2     3  2011-06-16     3.0          3    1
3     4  2012-08-26     1.0          2    3
4     5  2013-06-06     2.0          4    1
5     6  2013-12-23     2.0          5    6
6     7  2013-12-30     3.0          4    1
7     8  2014-04-24     NaN          2    3
8     9  2015-04-24     7.0          4    3
9    10  2016-05-08     3.0          4    4

In [54]:
import pandas as pd
df = pd.read_csv("transactions.csv")

In [31]:
print(df.isnull().sum())

TransactionID      0
TransactionDate    0
UserID             1
ProductID          0
Quantity           0
dtype: int64

In [32]:
print(df.isnull())

   TransactionID  TransactionDate  UserID  ProductID  Quantity
0          False            False   False      False     False
1          False            False   False      False     False
2          False            False   False      False     False
3          False            False   False      False     False
4          False            False   False      False     False
5          False            False   False      False     False
6          False            False   False      False     False
7          False            False    True      False     False
8          False            False   False      False     False
9          False            False   False      False     False

In [43]:
sorted= df.sort_values(by=["Quantity"],ascending=[True])
print(sorted)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1
3              4      2012-08-26     1.0          2         3
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4
5              6      2013-12-23     2.0          5         6

In [46]:
sorted= df.sort_values(by=["Quantity","TransactionID"],ascending=[False,True])
print(sorted)

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6
9             10      2016-05-08     3.0          4         4
3              4      2012-08-26     1.0          2         3
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1

In [47]:
print(sorted.head(2))

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6
9             10      2016-05-08     3.0          4         4

In [48]:
sub = df[df['Quantity']>1]
print(sub)

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [66]:
# subset_rows = df.iloc[[6,1]]
subset_rows = df.iloc[6,1]
print(subset_rows)

2013-12-30

In [61]:
foo = [True,True,False,True,False,False,False,False,True,False]
subset_foo_true=df[foo]
print(subset_foo_true)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
3              4      2012-08-26     1.0          2         3
8              9      2015-04-24     7.0          4         3

In [64]:
subset=df[df["Quantity"]>1][["TransactionID","Quantity"]]
print(subset)

   TransactionID  Quantity
3              4         3
5              6         6
7              8         3
8              9         3
9             10         4

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("transactions.csv")

In [4]:
df

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

# 1. Print Summary of transaction data set

In [73]:
print(df.describe())

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

# 2. Print Numbers of Attributes

In [76]:
print(df.shape[1])

5

# 3. Print Numbers of Records

In [78]:
print(df.shape[0])

10

# 4. Get the row names

In [80]:
rows = df.index
print(rows)

RangeIndex(start=0, stop=10, step=1)

# 5. Get the column names

In [81]:
columns = df.columns
print(columns)

Index(['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quantity'], dtype='object')

# 6. View top 10 Records

In [83]:
print(df.head(5))

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1

# 7.Change the name of column “ Quantity” to “Quant”

In [96]:
df.rename(columns={"Quantity":"Quant"},inplace=True)
print(df.columns)

Index(['TransactionID', 'TransactionDate', 'UserID', 'ProductID', 'Quant'], dtype='object')

# 8.Change the name of columns ProductID and UserID to PID and UID respectively

In [103]:
df.rename(columns={"ProductID":"PID","UserID":"UID"},inplace=True)
print(df.columns)

Index(['TransactionID', 'TransactionDate', 'UID', 'PID', 'Quantity'], dtype='object')

In [104]:
print(df)

   TransactionID TransactionDate  UID  PID  Quantity
0              1      2010-08-21  7.0    2         1
1              2      2011-05-26  3.0    4         1
2              3      2011-06-16  3.0    3         1
3              4      2012-08-26  1.0    2         3
4              5      2013-06-06  2.0    4         1
5              6      2013-12-23  2.0    5         6
6              7      2013-12-30  3.0    4         1
7              8      2014-04-24  NaN    2         3
8              9      2015-04-24  7.0    4         3
9             10      2016-05-08  3.0    4         4

# 9. Order the rows of transactions by TransactionId descending, if ascending then ascending=True

In [117]:
sort=df.sort_values(by=["TransactionID"],ascending=True)
sort2=df.sort_values(by=["TransactionID"],ascending=False)
print(sort)
print("\n")
print(sort2)

   TransactionID TransactionDate  UID  PID  Quantity
0              1      2010-08-21  7.0    2         1
1              2      2011-05-26  3.0    4         1
2              3      2011-06-16  3.0    3         1
3              4      2012-08-26  1.0    2         3
4              5      2013-06-06  2.0    4         1
5              6      2013-12-23  2.0    5         6
6              7      2013-12-30  3.0    4         1
7              8      2014-04-24  NaN    2         3
8              9      2015-04-24  7.0    4         3
9             10      2016-05-08  3.0    4         4


   TransactionID TransactionDate  UID  PID  Quantity
9             10      2016-05-08  3.0    4         4
8              9      2015-04-24  7.0    4         3
7              8      2014-04-24  NaN    2         3
6              7      2013-12-30  3.0    4         1
5              6      2013-12-23  2.0    5         6
4              5      2013-06-06  2.0    4         1
3              4      2012-08-26  1.0    2         3
2              3      2011-06-16  3.0    3         1
1              2      2011-05-26  3.0    4         1
0              1      2010-08-21  7.0    2         1

# 10. Order the rows of transactions by Quantity ascending, TransactionDate descending

In [139]:
sort3=df.sort_values(by=["Quantity"],ascending=True)
sort4=df.sort_values(by=["TransactionDate"],ascending=False)
# print(sort3)
# print("\n")
# print(sort4)

sort5 = df.sort_values(by=["Quantity","TransactionDate"],ascending=[True,True])
print(sort5)

   TransactionID TransactionDate  UID  PID  Quantity
0              1      2010-08-21  7.0    2         1
1              2      2011-05-26  3.0    4         1
2              3      2011-06-16  3.0    3         1
4              5      2013-06-06  2.0    4         1
6              7      2013-12-30  3.0    4         1
3              4      2012-08-26  1.0    2         3
7              8      2014-04-24  NaN    2         3
8              9      2015-04-24  7.0    4         3
9             10      2016-05-08  3.0    4         4
5              6      2013-12-23  2.0    5         6

# 11. Set the column order of Transactions as ProductID, Quantity, TransactionDate, TransactionID, UserID

In [136]:
print(df[['PID', 'Quantity', 'TransactionDate', 'TransactionID', 'UID']])
print("\n")
print(df['PID'])

   PID  Quantity TransactionDate  TransactionID  UID
0    2         1      2010-08-21              1  7.0
1    4         1      2011-05-26              2  3.0
2    3         1      2011-06-16              3  3.0
3    2         3      2012-08-26              4  1.0
4    4         1      2013-06-06              5  2.0
5    5         6      2013-12-23              6  2.0
6    4         1      2013-12-30              7  3.0
7    2         3      2014-04-24              8  NaN
8    4         3      2015-04-24              9  7.0
9    4         4      2016-05-08             10  3.0


0    2
1    4
2    3
3    2
4    4
5    5
6    4
7    2
8    4
9    4
Name: PID, dtype: int64

# 12. Make UserID the first column of transactions

In [141]:
transactions = df[['UID'] + [cols for cols in df.columns if cols != 'UID']]

print(transactions)

   UID  TransactionID TransactionDate  PID  Quantity
0  7.0              1      2010-08-21    2         1
1  3.0              2      2011-05-26    4         1
2  3.0              3      2011-06-16    3         1
3  1.0              4      2012-08-26    2         3
4  2.0              5      2013-06-06    4         1
5  2.0              6      2013-12-23    5         6
6  3.0              7      2013-12-30    4         1
7  NaN              8      2014-04-24    2         3
8  7.0              9      2015-04-24    4         3
9  3.0             10      2016-05-08    4         4

# 13. Extracting arrays from a Data Frame. Get the 2nd column

In [16]:
df

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [23]:
second_column = df.iloc[:, 1].values
print("Second Column Array:\n", second_column)

Second Column Array:
 ['2010-08-21' '2011-05-26' '2011-06-16' '2012-08-26' '2013-06-06'
 '2013-12-23' '2013-12-30' '2014-04-24' '2015-04-24' '2016-05-08']

# 14. Get the ProductID array

In [21]:
product_id_array = df["ProductID"].values
print("ProductID Array:", product_id_array)

ProductID Array: [2 4 3 2 4 5 4 2 4 4]

# 15. Get the ProductID array using variable

In [27]:
column = df.loc[:,"ProductID"].values
print("Column Array:\n", column)

Column Array:
 [2 4 3 2 4 5 4 2 4 4]

# 16. Row subsetting, subset rows 1, 3, and 6

In [32]:
# row = df.iloc[[1,3,6]]
row = df.iloc[[0, 2, 5]]
print(row)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
2              3      2011-06-16     3.0          3         1
5              6      2013-12-23     2.0          5         6

# 17. Subset rows excluding 1, 3, and 6

In [33]:
exclude = df.drop(index=[0, 2, 5])
print(exclude)

   TransactionID TransactionDate  UserID  ProductID  Quantity
1              2      2011-05-26     3.0          4         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

# 18. Subset the first three rows

In [34]:
subset_first_three = df.iloc[:3]
print(subset_first_three)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1

# 19. Subset the last two rows

In [35]:
subset_last_two = df.iloc[-2:]
print(subset_last_two)

   TransactionID TransactionDate  UserID  ProductID  Quantity
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

# 20. Subset rows excluding the last two rows

In [36]:
exclude_last_two = df.iloc[:-2]
print(exclude_last_two)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3

# 21. Subset rows excluding the first three rows

In [37]:
exclude_first_three = df.iloc[3:]
print(exclude_first_three)

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

# 22. Subset rows where Quantity > 1

In [39]:
subset_quantity = df[df["Quantity"] > 1]
print(subset_quantity)

   TransactionID TransactionDate  UserID  ProductID  Quantity
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

# 23. Subset rows where UserID = 2

In [40]:
subset_row = df[df["UserID"] ==2]
print(subset_row)

   TransactionID TransactionDate  UserID  ProductID  Quantity
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6

# 24. Subset rows where Quantity > 1 and UserID = 2

In [45]:
result = df[(df["UserID"]==2) & (df["Quantity"]>1)]
print(result)

   TransactionID TransactionDate  UserID  ProductID  Quantity
5              6      2013-12-23     2.0          5         6

# 25. Subset rows where Quantity + UserID > 3

In [47]:
result = df[(df["Quantity"] + df["UserID"]) > 3]
print(result)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

# 26. Subset rows where an external array, foo, is True

In [102]:
foo = np.array([True] * len(df))

In [74]:
subset_foo_true = df[foo]
print(subset_foo_true)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

# 27. Subset rows where an external array, bar, is positive

In [103]:
bar = np.random.randint(-10, 10, len(df))

In [76]:
subset_bar_positive = df[bar > 0]
print(subset_bar_positive)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

# 28. Subset rows where foo is TRUE or bar is negative

In [77]:
# foo =[True,True,True,False,False,False,False,True,True,False]
subset_foo_bar = df[foo | (bar < 0)]
print(subset_foo_bar)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

# 29. Subset rows where foo is not TRUE and bar is not negative

In [105]:
subset_not_foo_not_bar = df[~foo & ~(bar < 0)]
print(subset_not_foo_not_bar)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
3              4      2012-08-26     1.0          2         3
6              7      2013-12-30     3.0          4         1

# 30. Subset by columns 1 and 3

In [113]:
# subset_columns = df.loc[:, ["TransactionID","TransactionDate","UserID"]]
subset_columns = df.iloc[:, [0,2]]
print(subset_columns)

   TransactionID  UserID
0              1     7.0
1              2     3.0
2              3     3.0
3              4     1.0
4              5     2.0
5              6     2.0
6              7     3.0
7              8     NaN
8              9     7.0
9             10     3.0

# 31. Subset by columns TransactionID and TransactionDate

In [116]:
subset_tid_tdate = df[["TransactionID", "TransactionDate"]]
print(subset_tid_tdate)

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

# 32. Subset by columns TransactionID and TransactionDate with logical operator

In [117]:
subset_columns = df.loc[:, ["TransactionID","TransactionDate"]]
print(subset_columns)

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

# 33. Subset columns by a variable list of column names

In [120]:
columns_list = ["UserID", "Quantity"]
subset_by_var_columns = df[columns_list]
print(subset_by_var_columns)

   UserID  Quantity
0     7.0         1
1     3.0         1
2     3.0         1
3     1.0         3
4     2.0         1
5     2.0         6
6     3.0         1
7     NaN         3
8     7.0         3
9     3.0         4

# 34. Subset columns excluding a variable list of column names

In [124]:
excluded_columns = ["UserID", "Quantity"]
subset_exclude_columns = df[[col for col in df.columns if col not in excluded_columns ]]
print(subset_exclude_columns)

   TransactionID TransactionDate  ProductID
0              1      2010-08-21          2
1              2      2011-05-26          4
2              3      2011-06-16          3
3              4      2012-08-26          2
4              5      2013-06-06          4
5              6      2013-12-23          5
6              7      2013-12-30          4
7              8      2014-04-24          2
8              9      2015-04-24          4
9             10      2016-05-08          4

# 35. Inserting and updating values
# Example: Update first row's Quantity to 10

In [128]:
result = df.at[7, "Quantity"] = 10
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2        10
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2        10
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

# 36. Convert the TransactionDate column to type Date

In [129]:
df["TransactionDate"] = pd.to_datetime(df["TransactionDate"])
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2        10
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2        10
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

# 37. Insert a new column, Foo = UserID + ProductID

In [132]:
df["Foo"] = df["UserID"] + df["ProductID"]
df

   TransactionID TransactionDate  UserID  ProductID  Quantity   Foo
0              1      2010-08-21     7.0          2        10   9.0
1              2      2011-05-26     3.0          4         1   7.0
2              3      2011-06-16     3.0          3         1   6.0
3              4      2012-08-26     1.0          2         3   3.0
4              5      2013-06-06     2.0          4         1   6.0
5              6      2013-12-23     2.0          5         6   7.0
6              7      2013-12-30     3.0          4         1   7.0
7              8      2014-04-24     NaN          2        10   NaN
8              9      2015-04-24     7.0          4         3  11.0
9             10      2016-05-08     3.0          4         4   7.0